<!-- Modal Crear -->
<div class="modal fade" id="create-modal-user">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Agregar Usuario</h5>
		  <button
			type="button"
			class="close"
			data-dismiss="modal"
			aria-label="Close"
		  >
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
			  <label for="input-1">Usuario</label>
			  <input
				type="text"
				class="form-control"
				id="input-1"
				placeholder="Ingresa tu usuario"
				formControlName="usuario"
			  />
			</div>
			<div class="form-group">
			  <label for="input-2">Email</label>
			  <input
				type="text"
				class="form-control"
				id="input-2"
				placeholder="Ingresa tu e-mail"
				formControlName="email" 
			  />
			</div>
			<div class="form-group">
			  <label for="input-3">Contraseña</label>
			  <input
				type="text"
				class="form-control"
				id="input-3"
				placeholder="Ingresa tu Contraseña"
			  />
			</div>
			<div class="form-group">
			  <button type="submit" class="btn btn-primary px-5" (click)="onSubmit()">
				<i class="icon-save"></i> Crear
			  </button>
			</div>
		  </form>
		</div>
	  </div>
	</div>
  </div>
  
  
  <!-- Modal Editar -->
  <div class="modal fade" id="edit-modal-user">
	<div class="modal-dialog modal-dialog-centered">
	  <div class="modal-content">
		<div class="modal-header">
		  <h5 class="modal-title">Editar Usuario</h5>
		  <button
			type="button"
			class="close"
			data-dismiss="modal"
			aria-label="Close"
		  >
			<span aria-hidden="true">&times;</span>
		  </button>
		</div>
		<div class="modal-body">
		  <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()">
			<div class="form-group">
			  <label for="input-1">Usuario</label>
			  <input
				type="text"
				class="form-control"
				id="input-1"
				placeholder="Ingresa tu usuario"
				formControlName="usuario"
			  />
			</div>
			<div class="form-group">
			  <label for="input-2">Email</label>
			  <input
				type="text"
				class="form-control"
				id="input-2"
				placeholder="Ingresa tu e-mail"
				formControlName="email" 
			  />
			</div>
			<div class="form-group">
			  <label for="input-3">Contraseña</label>
			  <input
				type="text"
				class="form-control"
				id="input-3"
				placeholder="Ingresa tu Contraseña"
			  />
			</div>
			<div class="form-group">
			  <button type="submit" class="btn btn-primary px-5" (click)="onSubmit()">
				<i class="icon-save"></i> Editar
			  </button>
			</div>
		  </form>
		</div>
	  </div>
	</div>
  </div>
  